extends ../common/_layout.pug

//- ページ固有の変数を宣言
block setVariable

//- メインコンテンツ
block content
    .trigger-menu
        .trigger-menu__inner
            span
            span
            span
    main.wraper
        div.inner
            div.content
                p
                    | test test test
                    | test test test

        .s-elem s-elem
        .m-elem m-elem
        .l-elem l-elem
        .pc-elem pc-elem
        .mb-elem mb-elem
