header.header
    nav.header-nav
        ul.header-nav__list
            li.header-nav__item
                a(href="#top")
                    span.icon
                    | TOP
            li.header-nav__item
                a(href="#about")
                    span.icon
                    | ABOUT
            li.header-nav__item
                a(href="#skill")
                    span.icon
                    | SKILL
            li.header-nav__item
                a(href="#portfolio")
                    span.icon
                    | PORTFOLIO
            li.header-nav__item
                a(href="#contact")
                    span.icon
                    | CONTACT
